*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
/*  Fonts
-----
font-family: 'Lora', serif;
font-family: 'Ubuntu', sans-serif;
*/

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    word-spacing: 1.5;
    line-height: 1.5;
}

img{
    max-width: 100%;
}

/* =================
Typography
================= */

h1 {
    font-family: 'Lora', serif;
    font-weight: 400;
    color: #143774;
    font-size: 2rem;
    margin: 0;
}

.subtitle {
    font-weight: 700;
    color: #1792d2;
    font-size: .75rem;
    margin: 0;
}

/* =================
Layout
================= */

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.container-nav {
    display: flex;
    justify-content: space-between;
}

header {
    background: #f8f8f8;
    padding: 2em 0;
}

@media (max-width: 675px) {
    .container-nav {
        flex-direction: column;
    }
    
    header {
        text-align: center;
    }
}

/* navigation */

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-left: 2em;
}

nav a {
    text-decoration: none;
    color: #707070;
    font-weight: 700;
    padding: .25em 0;
}

nav a:hover,
nav a:focus {
    color: #1792d2;
}

.current-page {
    border-bottom: 1px solid #707070;
}

.current-page:hover {
    color: #707070;
}

@media (max-width: 675px) {
    nav ul {
        flex-direction: column;
    }
    
    nav li {
        margin: .5em 0;
    }
}


/* ********************index.html */
.container1{
    display: flex;
    gap: 2em;
}
main{
    margin-top: 3em;
}

h2,
.recent-posts p{
    color: #00308f;
    margin: 1em;
}
.blog{
    display: flex;
   margin-bottom: 5em;
   gap: 2em;
}
hr{
    color: darkgray;
    margin: 1.5em 0;
}
.continue{
    margin: 2em 0;
    color: #0f52ba;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;
}

            /*sidebar  */
.sidebar1{
    /* margin: 1.5em; */
    display: flex;
    flex-direction: column;
    gap: 2em;
}           
.about-me{
    border: 1em solid lightgray;
    padding: 0.5em;
}
.about-me p{
    margin: 1em;
    color: #1792d2;
}
.recent-posts{
    border: 1em solid lightgray
}
.footer{
    text-align: center;
    background-color: #143774;
    color: #fff;
    font-weight: 100;
    min-height: 20%;
    padding: 1em;
}
.footer p:nth-child(1){
    margin-top: 2em;
    font-weight: 700;
}



/*  **********about-me.html */
.main{
    display: flex;
    align-items: flex-start;
    gap: 3em;
}
.section2{
    max-width: 80%;
}
.recent-posts2{
    width: 20%;
    border: 1em solid darkgray;
}
.recent-posts2 p{
     color: #00308f;
     padding: 0.5em;
     margin: 0.5em;
}
h3{
    color: rgb(12, 181, 238);
    margin: 0.5em;
}



/* *******************recent-posts.html */
.posts{
    display: flex;
    gap: 2em;
}
.work{
    display: flex;
}
.img img{
    object-fit:fill;
}

@media (max-width:650px) {
    .container1,
    .main,
    .posts,
    .work{
    flex-direction: column;
   width: 100%;
    }
    .blog{
    flex-direction: column;
    width: 100%;
}
    .sidebar1{
    width: 100%;
}
    .recent-posts2{
    width: 100%;
    border: 1em solid darkgray;
}
}